<html>
    <head>
        <title>Attendance Chatbot</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/main.css?version=2">

    <head>
    <body>
        <div class="chat">
            <div class="messages"></div>
            <div id ="edge"></div>
            <form class="actions">
                <input type="text" placeholder="Enter a message">
            </form>
        </div>
        <script src="static/scripts/scriptsjs.js?version=16"></script>
    </body>

</html>